*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

# Sources
source/index.md
source/index.md

*.md

source/index.md

source/includes/_errors.md

source/includes

README.md

source/includes

source/images/logo.png
